@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var home = Model.AncestorsOrSelf().Last();
    var about = home.ChildrenOfType("about")?.FirstOrDefault();
    var contact = home.ChildrenOfType("contactPage")?.FirstOrDefault();
    var socialMedia = contact?.Value<IEnumerable<BlockListItem>>("socialMedia");
    var email = contact?.Value("eMail");
    var phone = contact?.Value("phone");
    var adres = contact?.Value("adres");
}

<footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-column footer-about">
                            <h3 class="footer-title">@about?.Name</h3>
                            <p class="footer-about-text">Welcome to the best five-star deluxe hotel in New York. Hotel elementum sesue the aucan vestibulum aliquam justo in sapien rutrum volutpat.</p>

                            <div class="footer-language"> <i class="lni ti-world"></i>
                                <select onchange="location = this.value;">
                                    <option value="http://duruthemes.com/">English</option>
                                    <option value="http://duruthemes.com/">German</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 offset-md-1">
                        <div class="footer-column footer-explore clearfix">
                            <h3 class="footer-title">Explore</h3>
                            <ul class="footer-explore-list list-unstyled">
                                <li><a href="index.html">Home</a></li>
                            @foreach (var item in home.Children().Where(j => j.ContentType.Alias != "contactPage"))
                                {
                                <li><a href="@item.Url()">@item.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @if(adres != "" || phone != "" || email != "")
                                   {
                        <div class="footer-column footer-contact">
                            <h3 class="footer-title">@contact?.Name</h3>
                            @if (adres != "")
                            {
                                <p class="footer-contact-text">@adres</p>
                            }
                            @if (phone != "" || email != "")
                            {
                                <div class="footer-contact-info">
                                    @if (phone != "")
                                    {
                                        <p class="footer-contact-phone"><span class="flaticon-call"></span>@phone</p>
                                    }
                                    @if (email != "")
                                    {
                                        <p class="footer-contact-mail">@email</p>
                                    }
                                </div>
                            }
                            @if (socialMedia != null)
                            {
                                <div class="footer-about-social-list">
                                    @foreach (var item in socialMedia)
                                    {
                                        var brandName = item.Content.Value("brandName");
                                        var accountUrl = item.Content.Value("accountUrl");
                                        <a href="@accountUrl"><i class="fa-brands fa-@brandName"></i></a>
                                    }
                                </div>
                            }
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-bottom-inner">
                            <p class="footer-bottom-copy-right">© Copyright 2025 by <a href="#">DuruThemes.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
