@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var home = Model.AncestorsOrSelf().Last();
    var contact = home.ChildrenOfType("contactPage")?.FirstOrDefault();
    var phone = contact?.Value("phone");
}

@if(home.Children().Any())
{
    <div class="cappa-wrap-inner">
        <nav class="cappa-menu">
            <ul>
            @foreach(var item in home.Children())
            {
                if(item.Children().Any())
                {
                <li class='cappa-menu-sub'>
                    <a class="@(item.Name == Model.Name ? "active" : "")" href='@item.Url()'>@item.Name<i class="ti-angle-down"></i></a>
                    <ul>
                        @foreach(var child in item.Children())
                        {
                            <li class="@(child.Name == Model.Name ? "active" : "")"><a href="@child.Url()">@child.Name</a></li>
                        }
                    </ul>
                </li>
                }
                else
                {
                <li class="@(item.Name == Model.Name ? "active" : "")"><a href="@item.Url()">@item.Name</a></li>
                }
            }
            </ul>
        </nav>
    @if (phone != "")
    {

        <div class="cappa-menu-footer">
            <div class="reservation">
                <a href="tel:@phone">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <i class="flaticon-call"></i>
                    </div>
                    <div class="call">Rezervasyon<br><span>@phone</span></div>
                </a>
            </div>
        </div>
    }
    </div>
}

