@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var home = Model.AncestorsOrSelf().Last();
    var newsRepo = home.ChildrenOfType("haberler")?.FirstOrDefault();
}

@if(newsRepo != null && newsRepo.Children().Any())
{
    <section class="news section-padding bg-darkblack">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle"><span>@home.Value("pageTitle")</span></div>
                    <div class="section-title">@newsRepo?.Name</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        @foreach(var item in newsRepo?.Children().Take(5))
                        {
                            var title = item.Value("pageTitle");
                            var subtitle = item.Value("pageSubtitle");
                            var imageFirst = item.Value<IEnumerable<MediaWithCrops>>("pageImages")?.First()?.Url();
                            <div class="item">
                                <div class="position-re o-hidden">
                                    <img src="@imageFirst" alt="">
                                </div>
                                <div class="con">
                                    <span class="category">
                                        <a href="@item.Url()">@title</a>
                                    </span>
                                    <h5><a href="@item.Url()">@subtitle</a></h5>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

}