@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var home = Model.AncestorsOrSelf().Last();
    var extra = home.ChildrenOfType("extraServices").FirstOrDefault();
    var about = home?.ChildrenOfType("about").FirstOrDefault();
    var extraservicesList = extra?.Value<IEnumerable<BlockListItem>>("extraservicesList");

}

@if(extra != null)
{
    <section class="pricing section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="section-subtitle"><span>@extra.Value("pageTitle")</span></div>
                    <div class="section-title">@extra.Value("pageText")</div>
                    @Html.Raw(extra.Value("pageTextEditor"))
                    @if (about != null && about.HasValue("pagePhone"))
                    {
                        <div class="reservations mb-30">
                            <div class="icon"><span class="flaticon-call"></span></div>
                            <div class="text">
                                <p class="color-2">For information</p><a href="tel:@about.Value("pagePhone")">@about.Value("pagePhone")</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-8">
                    <div class="owl-carousel owl-theme">
                        @if(extraservicesList != null)
                        {
                            foreach(var item in extraservicesList)
                            {
                                var service = item.Content;
                                var img = service.Value<MediaWithCrops>("image")?.Url();
                                var specs = service.Value<IEnumerable<BlockListItem>>("specs");
                                <div class="pricing-card">
                                    <img src="@img" alt="">
                                    <div class="desc">
                                        <div class="name">@service.Value("title")</div>
                                        <div class="amount">@service.Value("fee")</div>
                                        <ul class="list-unstyled list">
                                            @if(specs != null)
                                            {
                                                foreach(var specitem in specs)
                                                {
                                                    var spec = specitem.Content;
                                                    var trueFalse = spec.Value<bool>("trueFalse");
                                                    <li><i class="@(!trueFalse ? "ti-close unavailable" : "ti-check")"></i>@spec.Value("text")</li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

}