@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var home = Model.AncestorsOrSelf().Last();
    var rooms = home?.ChildrenOfType("roomsRepo")?.FirstOrDefault();
    var about = home?.ChildrenOfType("about").FirstOrDefault();

}


@if(rooms != null && rooms.Children().Any())
{
    <section class="rooms1 section-padding bg-darkblack" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">@home.Value("pageTitle")</div>
                    <div class="section-title">@rooms.Name</div>
                </div>
            </div>
            <div class="row">
                @foreach(var item in rooms.Children())
                {
                    var img = item.Value<IEnumerable<MediaWithCrops>>("roomImages");
                    <div class="col-md-4">
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="@img?.FirstOrDefault()?.Url()" alt=""> </div> <span class="category"><a href="@item.Url()">Book</a></span>
                            <div class="con">
                                <h6><a href="room-details.html">@item.Value("roomPrice")</a></h6>
                                <h5><a href="room-details.html">@item.Value("roomName")</a> </h5>
                                <div class="line"></div>
                                <div class="row facilities">
                                    <div class="col col-md-7">
                                        <ul>
                                            <li><i class="flaticon-bed"></i></li>
                                            <li><i class="flaticon-bath"></i></li>
                                            <li><i class="flaticon-breakfast"></i></li>
                                            <li><i class="flaticon-towel"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col col-md-5 text-end">
                                        <div class="permalink"><a href="@item.Url()">Details <i class="ti-arrow-right"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>

}
